################################################################################
# corpora.config
#
# Copyright (C) 2016 Florian Kurpicz <florian.kurpicz@tu-dortmund.de>
#
# All rights reserved. Published under the BSD-2 license in the LICENSE file.
################################################################################
#
### Downloads
# Each corpus in this section will be downloaded with respect to its
# configuration.
# Each entry in this section is a triple: "DL";PATH_TO_CONFIG with
# "DL" = Marking this as a download config
# CONFIG_ID = ID for the config file (must be unique in corpora.config)
# PATH_TO_CONFIG = Path to the config file
#
# Each config file must consist of tuples: CORPUS_NAME;FILE_NAME;DL_LINK with
# CORPUS_NAME = Name of the folder in the data directory
# FILE_NAME = Name of the (decompressed) file
# DL_LINK   = Download link of the file
#
###
DL;./corpora/pizza_and_chili.config
DL;./corpora/manzini_lightweight.config
#
### Random Numbers
# Each line represents one file that is generated if the name does not exist.
# Each entry in this section is a 4-tuple: "RD";NAME;LENGTH;CHAR_WIDTH with
# "RD" = Marking this as a random generator entry
# NAME = Name of the file
# LENGTH = Number of characters to generate
# CHAR_WIDTH = Number of bits per char (MAX=32)
#
# The size of the file is 4*LENGTHS bytes because we use 32-bit integers.
#
RD;example_2048_20;2048;20