################################################################################
# download.config
#
# Copyright (C) 2016 Florian Kurpicz <florian.kurpicz@tu-dortmund.de>
#
# All rights reserved. Published under the BSD-2 license in the LICENSE file.
################################################################################
#
### Description ###
# Each entry in this configuration is a tuple: FILE_NAME;DL_LINK
# FILE_NAME = Name of the (decompressed) file
# DL_LINK   = Downlaod link of the file
#
### Pizza & Chili Corpus Configuration
## Sources
sources;http://pizzachili.dcc.uchile.cl/texts/code/sources.gz
sources.50MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.50MB.gz
sources.100MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.100MB.gz
sources.200MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.200MB.gz
## Pitches
pitches;http://pizzachili.dcc.uchile.cl/texts/music/pitches.gz
pitches.50MB;http://pizzachili.dcc.uchile.cl/texts/music/pitches.50MBgz
## Proteins
proteins;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.gz
proteins.50MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.50MB.gz
proteins.100MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.100MB.gz
proteins.200MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.200MB.gz
## DNA
dna;http://pizzachili.dcc.uchile.cl/texts/dna/dna.gz
dna.50MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.50MB.gz
dna.100MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.100MB.gz
dna.200MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.200MB.gz
## English
#english;http://pizzachili.dcc.uchile.cl/texts/nlang/english.gz
english.50MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.50MB.gz
english.100MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.100MB.gz
english.200MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.200MB.gz
english.1024MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.1024MB.gz
## XML
dblp.xml;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.gz
dblp.xml.50MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.50MB.gz
dblp.xml.100MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.100MB.gz
dblp.xml.200MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.200MB.gz
#
### (Manzini) Leightweight Corpus
chr22.dna;http://people.unipmn.it/~manzini/lightweight/corpus/chr22.dna.bz2
etext99;http://people.unipmn.it/~manzini/lightweight/corpus/etext99.bz2
gcc-3.0;http://people.unipmn.it/~manzini/lightweight/corpus/gcc-3.0.tar.bz2
howto;http://people.unipmn.it/~manzini/lightweight/corpus/howto.bz2
jdk13c;http://people.unipmn.it/~manzini/lightweight/corpus/jdk13c.bz2
linux-2.4.5;http://people.unipmn.it/~manzini/lightweight/corpus/linux-2.4.5.tar.bz2
rctail96;http://people.unipmn.it/~manzini/lightweight/corpus/rctail96.bz2
rfc;http://people.unipmn.it/~manzini/lightweight/corpus/rfc.bz2
sprot34.dat;http://people.unipmn.it/~manzini/lightweight/corpus/sprot34.dat.bz2
w3c2;http://people.unipmn.it/~manzini/lightweight/corpus/w3c2.bz2
