################################################################################
# download.config
#
# Copyright (C) 2016 Florian Kurpicz <florian.kurpicz@tu-dortmund.de>
#
# All rights reserved. Published under the BSD-2 license in the LICENSE file.
################################################################################
#
### Description ###
# Each entry in this configuration is a tuple: FILE_NAME;DL_LINK
# FILE_NAME = Name of the (decompressed) file
# DL_LINK   = Downlaod link of the file
#
### Pizza & Chili Corpus Configuration
## Sources
#sources;http://pizzachili.dcc.uchile.cl/texts/code/sources.gz
sources.50MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.50MB.gz
#sources.100MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.100MB.gz
#sources.200MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.200MB.gz
### Pitches
#pitches;http://pizzachili.dcc.uchile.cl/texts/music/pitches.gz
#pitches.50MB;http://pizzachili.dcc.uchile.cl/texts/music/pitches.50MBgz
### Proteins
#proteins;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.gz
proteins.50MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.50MB.gz
#proteins.100MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.100MB.gz
#proteins.200MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.200MB.gz
### DNA
#dna;http://pizzachili.dcc.uchile.cl/texts/dna/dna.gz
dna.50MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.50MB.gz
#dna.100MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.100MB.gz
#dna.200MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.200MB.gz
### English
#english;http://pizzachili.dcc.uchile.cl/texts/nlang/english.gz
#english.50MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.50MB.gz
#english.100MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.100MB.gz
#english.200MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.200MB.gz
#english.1024MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.1024MB.gz
### XML
#dblp.xml;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.gz
#dblp.xml.50MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.50MB.gz
#dblp.xml.100MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.100MB.gz
#dblp.xml.200MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.200MB.gz