################################################################################
# corpora/manzini_lightweight.config
#
# Copyright (C) 2016 Florian Kurpicz <florian.kurpicz@tu-dortmund.de>
#
# All rights reserved. Published under the BSD-2 license in the LICENSE file.
################################################################################
#
### Description ###
# Each entry in this configuration is a tuple: CORPUS_NAME;FILE_NAME;DL_LINK
#
# CORPUS_NAME = Name of the folder in the data directory
# FILE_NAME = Name of the (decompressed) file
# DL_LINK   = Downlaod link of the file
#
### (Manzini) Leightweight Corpus
#manzini_lightweight;chr22.dna;http://people.unipmn.it/~manzini/lightweight/corpus/chr22.dna.bz2
#manzini_lightweight;etext99;http://people.unipmn.it/~manzini/lightweight/corpus/etext99.bz2
#manzini_lightweight;gcc-3.0;http://people.unipmn.it/~manzini/lightweight/corpus/gcc-3.0.tar.bz2
#manzini_lightweight;howto;http://people.unipmn.it/~manzini/lightweight/corpus/howto.bz2
manzini_lightweight;jdk13c;http://people.unipmn.it/~manzini/lightweight/corpus/jdk13c.bz2
#manzini_lightweight;linux-2.4.5;http://people.unipmn.it/~manzini/lightweight/corpus/linux-2.4.5.tar.bz2
#manzini_lightweight;rctail96;http://people.unipmn.it/~manzini/lightweight/corpus/rctail96.bz2
#manzini_lightweight;rfc;http://people.unipmn.it/~manzini/lightweight/corpus/rfc.bz2
#manzini_lightweight;sprot34.dat;http://people.unipmn.it/~manzini/lightweight/corpus/sprot34.dat.bz2
#manzini_lightweight;w3c2;http://people.unipmn.it/~manzini/lightweight/corpus/w3c2.bz2