### Description ###
# Each entry in this configuration is a tuple: FILE_NAME;DL_LINK;FOLDER_NAME
#
# CORPUS_NAME = Name of the folder in the data directory
# DL_LINK   = Downlaod link of the file
# FOLDER_NAME = Name of the folder in the data directory
#
### Pizza & Chili Corpus Configuration
## Sources
#pizza_and_chili;sources;http://pizzachili.dcc.uchile.cl/texts/code/sources.gz
pizza_and_chili;sources.50MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.50MB.gz
#pizza_and_chili;sources.100MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.100MB.gz
#pizza_and_chili;sources.200MB;http://pizzachili.dcc.uchile.cl/texts/code/sources.200MB.gz
#### Pitches
#pizza_and_chili;pitches;http://pizzachili.dcc.uchile.cl/texts/music/pitches.gz
#pizza_and_chili;pitches.50MB;http://pizzachili.dcc.uchile.cl/texts/music/pitches.50MB.gz
#### Proteins
#pizza_and_chili;proteins;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.gz
#pizza_and_chili;proteins.50MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.50MB.gz
#pizza_and_chili;proteins.100MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.100MB.gz
#pizza_and_chili;proteins.200MB;http://pizzachili.dcc.uchile.cl/texts/protein/proteins.200MB.gz
#### DNA
#pizza_and_chili;dna;http://pizzachili.dcc.uchile.cl/texts/dna/dna.gz
#pizza_and_chili;dna.50MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.50MB.gz
#pizza_and_chili;dna.100MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.100MB.gz
#pizza_and_chili;dna.200MB;http://pizzachili.dcc.uchile.cl/texts/dna/dna.200MB.gz
#### English
###english;http://pizzachili.dcc.uchile.cl/texts/nlang/english.gz
#pizza_and_chili;english.50MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.50MB.gz
#pizza_and_chili;english.100MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.100MB.gz
#pizza_and_chili;english.200MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.200MB.gz
#pizza_and_chili;english.1024MB;http://pizzachili.dcc.uchile.cl/texts/nlang/english.1024MB.gz
#### XML
#pizza_and_chili;dblp.xml;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.gz
#pizza_and_chili;dblp.xml.50MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.50MB.gz
#pizza_and_chili;dblp.xml.100MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.100MB.gz
#pizza_and_chili;dblp.xml.200MB;http://pizzachili.dcc.uchile.cl/texts/xml/dblp.xml.200MB.gz
