################################################################################
# download.config
#
# Copyright (C) 2016 Florian Kurpicz <florian.kurpicz@tu-dortmund.de>
#
# All rights reserved. Published under the BSD-2 license in the LICENSE file.
################################################################################
#
### Description ###
# Each entry in this configuration is a tuple: WORD_WIDTH;FILE_SIZE
# WORD_WIDTH = Bytes per word
# FILE_SIZE  = Number of words